/* Hide number input arrow */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.Page {
    width: 1200px;
}

.Toolbar {
    padding: 10px 20px 10px 20px;
}

.Form {
    padding: 10px 20px 10px 20px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 100%;
    align-items: center;
    justify-content: center;
    grid-column-gap: 10px;
}

.Button {
    display: inline-block;
    background-color: #eee;
    border: solid 1px #111;
    padding: 2px 4px 2px 4px;
    cursor: pointer;
}



.CaptionGrid {
    display: grid;
    width: 100%;
    grid-template-columns: 100px 100px repeat(var(--part-count), minmax(20px, 1fr));
    grid-template-rows: repeat(2, var(--cell-height));
    background-color: blanchedalmond;
    align-items: center;
    justify-content: center;
}

.InputGrid {
    display: grid;
    width: 100%;
    grid-template-columns: 100px 100px repeat(var(--part-count), minmax(20px, 1fr));
    grid-template-rows: repeat(calc(var(--trial-count)), var(--cell-height));
    background-color: antiquewhite;
    align-items: center;
    justify-content: center;
}

.PartAvgGrid {
    display: grid;
    width: 100%;
    grid-template-columns: 100px 100px repeat(var(--part-count), minmax(20px, 1fr)) 100px;
    grid-template-rows: repeat(1, var(--cell-height));
    background-color: antiquewhite;
    align-items: center;
    justify-content: center;
}

.ResultGrid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(6, minmax(20px, 1fr));
    grid-template-rows: repeat(3, var(--cell-height));
    background-color: lightblue;
    align-items: center;
    justify-content: center;
}

.GridItem {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-width: 0px 1px 1px 0px;
}

    .GridItem input {
        width: 100%;
        height: 100%;
        border: none;
        text-align: center;
    }

        .GridItem input[readonly] {
            background-color: #eee;
        }

.CenterContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
