.Container {
    display: flex;
    flex-direction: row;
}

.Navbar {
    width: 200px;
    padding: 20px 10px 10px 20px;
}

.NavTitle {
    font-size: 2rem;
}

.NavItem {
    padding: 10px;
}

.Header {
    padding: 0px 20px 0px 20px;
}

.HeaderTitle{
    font-size: 1.5rem;
}

.Content {
    width: 1000px;
    flex: 1;
    padding: 20px;
}